USE [master]
GO
/****** Object:  Database [Pizzaria]    Script Date: 13/03/2022 01:18:46 ******/
CREATE DATABASE [Pizzaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pizzaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Pizzaria.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pizzaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Pizzaria_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pizzaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pizzaria]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 13/03/2022 01:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CLIENTE] [varchar](50) NOT NULL,
	[CPF] [varchar](50) NOT NULL,
	[TELEFONE] [varchar](50) NOT NULL,
	[CELULAR] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](30) NOT NULL,
	[NUMERO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](30) NOT NULL,
	[CIDADE] [varchar](30) NOT NULL,
	[CEP] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Cliente__23A3413065DBAB2B] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 13/03/2022 01:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pedido](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_TAMANHO] [int] NULL,
	[ID_SABOR] [int] NULL,
	[TOTAL] [decimal](4, 2) NOT NULL,
	[ENTREGUE] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Pedido__A05C2F2A4E4E7D0A] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sabor]    Script Date: 13/03/2022 01:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sabor](
	[ID_SABOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME_SABOR] [varchar](50) NOT NULL,
	[INGREDIENTES] [varchar](250) NOT NULL,
 CONSTRAINT [PK__Sabor__E40D15C19E6A5A97] PRIMARY KEY CLUSTERED 
(
	[ID_SABOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tamanho]    Script Date: 13/03/2022 01:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tamanho](
	[ID_TAMANHO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_TAMANHO] [varchar](50) NOT NULL,
	[VALOR] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK__Tamanho__D34C8B1D356129E0] PRIMARY KEY CLUSTERED 
(
	[ID_TAMANHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID_CLIENTE], [NOME_CLIENTE], [CPF], [TELEFONE], [CELULAR], [ENDERECO], [NUMERO], [BAIRRO], [CIDADE], [CEP]) VALUES (1, N'José da Silva', N'222,222,222-22', N'(19) 3584-5687', N'(19) 98321-4952', N'Rua Marechal Deodoro', N'452', N'Bela Vista', N'Santa Rita do Passo Quatro', N'13670-000')
INSERT [dbo].[Cliente] ([ID_CLIENTE], [NOME_CLIENTE], [CPF], [TELEFONE], [CELULAR], [ENDERECO], [NUMERO], [BAIRRO], [CIDADE], [CEP]) VALUES (2, N'Antônio Firmino', N'111,111,111-11', N'(19) 3256-9658', N'(19) 98898-9989', N'AV. Presidente Kennedy', N'2540', N'Boulevard do Quintino', N'Porto Ferreira', N'13671-000')
INSERT [dbo].[Cliente] ([ID_CLIENTE], [NOME_CLIENTE], [CPF], [TELEFONE], [CELULAR], [ENDERECO], [NUMERO], [BAIRRO], [CIDADE], [CEP]) VALUES (3, N'Rodrigo Sabatela', N'333,333,333-33', N'(31) 3382-5366', N'(19) 11111-1111', N'Rua das Neves', N'171', N'Jardim Boa Vista', N'Santa Cruz das Palmeiras', N'13672-000')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([ID_PEDIDO], [ID_CLIENTE], [ID_TAMANHO], [ID_SABOR], [TOTAL], [ENTREGUE]) VALUES (1, 1, 3, 1, CAST(24.90 AS Decimal(4, 2)), N'Unchecked')
INSERT [dbo].[Pedido] ([ID_PEDIDO], [ID_CLIENTE], [ID_TAMANHO], [ID_SABOR], [TOTAL], [ENTREGUE]) VALUES (2, 3, 2, 6, CAST(19.90 AS Decimal(4, 2)), N'Checked')
INSERT [dbo].[Pedido] ([ID_PEDIDO], [ID_CLIENTE], [ID_TAMANHO], [ID_SABOR], [TOTAL], [ENTREGUE]) VALUES (3, 2, 4, 3, CAST(29.90 AS Decimal(4, 2)), N'Unchecked')
SET IDENTITY_INSERT [dbo].[Pedido] OFF
SET IDENTITY_INSERT [dbo].[Sabor] ON 

INSERT [dbo].[Sabor] ([ID_SABOR], [NOME_SABOR], [INGREDIENTES]) VALUES (1, N'Frango', N'Molho de Tomate, 
Mussarela, 
Frango, 
Azeitona')
INSERT [dbo].[Sabor] ([ID_SABOR], [NOME_SABOR], [INGREDIENTES]) VALUES (2, N'Calabresa', N'Molho de Tomate, 
Mussarela, 
Cebola, 
Azeitona')
INSERT [dbo].[Sabor] ([ID_SABOR], [NOME_SABOR], [INGREDIENTES]) VALUES (3, N'Portuguesa', N'Molho de Tomate, 
Mussarela, 
Milho, 
Ovo, 
Ce')
SET IDENTITY_INSERT [dbo].[Sabor] OFF
SET IDENTITY_INSERT [dbo].[Tamanho] ON 

INSERT [dbo].[Tamanho] ([ID_TAMANHO], [NOME_TAMANHO], [VALOR]) VALUES (1, N'Pequena', CAST(15.90 AS Decimal(4, 2)))
INSERT [dbo].[Tamanho] ([ID_TAMANHO], [NOME_TAMANHO], [VALOR]) VALUES (2, N'Média', CAST(19.90 AS Decimal(4, 2)))
INSERT [dbo].[Tamanho] ([ID_TAMANHO], [NOME_TAMANHO], [VALOR]) VALUES (3, N'Grande', CAST(24.90 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Tamanho] OFF
USE [master]
GO
