USE [master]
GO
/****** Object:  Database [Consultorio]    Script Date: 13/03/2022 01:47:29 ******/
CREATE DATABASE [Consultorio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Consultorio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Consultorio.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Consultorio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Consultorio_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Consultorio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Consultorio]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 13/03/2022 01:47:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[ID_CONSULTA] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PACIENTE] [nvarchar](50) NOT NULL,
	[NOME_MEDICO] [nvarchar](50) NOT NULL,
	[DATA] [datetime] NOT NULL,
	[HORARIO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONSULTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Consultas] ON 

INSERT [dbo].[Consultas] ([ID_CONSULTA], [NOME_PACIENTE], [NOME_MEDICO], [DATA], [HORARIO]) VALUES (1, N'Maria do Nascimento', N'Carlos', CAST(N'2023-11-20 03:25:40.000' AS DateTime), CAST(N'2021-07-18 10:30:40.000' AS DateTime))
INSERT [dbo].[Consultas] ([ID_CONSULTA], [NOME_PACIENTE], [NOME_MEDICO], [DATA], [HORARIO]) VALUES (2, N'José da Silva', N'Vanessa', CAST(N'2023-09-29 03:25:40.000' AS DateTime), CAST(N'2021-07-18 15:30:40.000' AS DateTime))
INSERT [dbo].[Consultas] ([ID_CONSULTA], [NOME_PACIENTE], [NOME_MEDICO], [DATA], [HORARIO]) VALUES (3, N'José dos Santos', N'Antônio', CAST(N'2023-12-22 03:25:40.000' AS DateTime), CAST(N'2021-07-18 13:00:40.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Consultas] OFF
USE [master]
GO
