USE [master]
GO
/****** Object:  Database [Academia]    Script Date: 13/03/2022 01:49:08 ******/
CREATE DATABASE [Academia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Academia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Academia.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Academia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Academia_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Academia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Academia]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aluno](
	[ID_ALUNO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_ALUNO] [varchar](50) NOT NULL,
	[ENDERECO_ALUNO] [varchar](50) NOT NULL,
	[BAIRRO_ALUNO] [varchar](50) NOT NULL,
	[CIDADE_ALUNO] [varchar](50) NOT NULL,
	[CEP_ALUNO] [varchar](35) NOT NULL,
	[CPF_ALUNO] [varchar](35) NOT NULL,
	[TELEFONE_ALUNO] [varchar](35) NOT NULL,
	[CELULAR_ALUNO] [varchar](35) NOT NULL,
	[SEXO] [varchar](15) NOT NULL,
	[OBSERVACAO] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Caixa]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caixa](
	[ID_CAIXA] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NOT NULL,
	[HORA] [datetime] NOT NULL,
	[SALDO_INICIAL] [decimal](4, 2) NOT NULL,
	[SITUACAO] [bit] NULL,
 CONSTRAINT [PK__Caixa__774938AEAE399DDC] PRIMARY KEY CLUSTERED 
(
	[ID_CAIXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Detalhes_Caixa]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalhes_Caixa](
	[ID_DETALHES] [int] IDENTITY(1,1) NOT NULL,
	[ID_CAIXA] [int] NULL,
	[VALOR] [decimal](6, 2) NOT NULL,
	[MOVIMENTO] [nvarchar](50) NOT NULL,
	[TIPO_PAGAMENTO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALHES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Horario]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Horario](
	[ID_HORARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TURMA] [int] NULL,
	[DIA_SEMANA] [varchar](20) NOT NULL,
	[INICIO] [time](1) NOT NULL,
	[FIM] [time](1) NOT NULL,
 CONSTRAINT [PK__Horario__CDBBBA34BE6ABB8B] PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[ID_MATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUNO] [int] NULL,
	[ID_TURMA] [int] NULL,
	[VENCIMENTO] [int] NOT NULL,
	[SITUACAO] [bit] NOT NULL,
 CONSTRAINT [PK__Matricul__09B08780CB0F65D0] PRIMARY KEY CLUSTERED 
(
	[ID_MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mensalidade]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensalidade](
	[ID_MENSALIDADE] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATRICULA] [int] NULL,
	[DATA_VENCIMENTO] [datetime] NOT NULL,
	[SITUACAO] [bit] NOT NULL,
 CONSTRAINT [PK__Mensalid__19826931B1E8F365] PRIMARY KEY CLUSTERED 
(
	[ID_MENSALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Modalidade]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modalidade](
	[ID_MODALIDADE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_MODALIDADE] [varchar](50) NOT NULL,
	[MENSALIDADE] [decimal](5, 2) NOT NULL,
	[ID_PROFESSOR] [int] NULL,
 CONSTRAINT [PK__Modalida__ABC508EB6E67819B] PRIMARY KEY CLUSTERED 
(
	[ID_MODALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Professor](
	[ID_PROFESSOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PROFESSOR] [varchar](50) NOT NULL,
	[ENDERECO_PROFESSOR] [varchar](50) NOT NULL,
	[BAIRRO_PROFESSOR] [varchar](50) NOT NULL,
	[CIDADE_PROFESSOR] [varchar](50) NOT NULL,
	[CEP_PROFESSOR] [varchar](35) NOT NULL,
	[CPF_PROFESSOR] [varchar](35) NOT NULL,
	[SALARIO] [decimal](6, 2) NOT NULL,
	[TELEFONE_PROFESSOR] [varchar](35) NOT NULL,
	[OBSERVACAO] [varchar](150) NOT NULL,
 CONSTRAINT [PK__Professo__605937A1CA9FF7A0] PRIMARY KEY CLUSTERED 
(
	[ID_PROFESSOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Turma]    Script Date: 13/03/2022 01:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Turma](
	[ID_TURMA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MODALIDADE] [int] NULL,
	[MAXIMO_ALUNOS] [int] NOT NULL,
	[NUMERO_TURMA] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Turma__F1C3C0A50DDC6036] PRIMARY KEY CLUSTERED 
(
	[ID_TURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Aluno] ON 

INSERT [dbo].[Aluno] ([ID_ALUNO], [NOME_ALUNO], [ENDERECO_ALUNO], [BAIRRO_ALUNO], [CIDADE_ALUNO], [CEP_ALUNO], [CPF_ALUNO], [TELEFONE_ALUNO], [CELULAR_ALUNO], [SEXO], [OBSERVACAO]) VALUES (1, N'Diego Silva', N'Rua 15 de Novembro, 327', N'Centro', N'São Paulo', N'98765-432', N'234,567,821-23', N'(18) 5544-7766', N'(97) 8855-2233', N'M', N'É Hipertenso')
INSERT [dbo].[Aluno] ([ID_ALUNO], [NOME_ALUNO], [ENDERECO_ALUNO], [BAIRRO_ALUNO], [CIDADE_ALUNO], [CEP_ALUNO], [CPF_ALUNO], [TELEFONE_ALUNO], [CELULAR_ALUNO], [SEXO], [OBSERVACAO]) VALUES (2, N'José da Silva', N'Rua das Flores, 300', N'Parque Vila Maria', N'São Paulo', N'57896-412', N'111.111.111-11', N'(19) 3581-4578', N'(19) 9874-5216', N'M', N'Tem lateralização da patela')
INSERT [dbo].[Aluno] ([ID_ALUNO], [NOME_ALUNO], [ENDERECO_ALUNO], [BAIRRO_ALUNO], [CIDADE_ALUNO], [CEP_ALUNO], [CPF_ALUNO], [TELEFONE_ALUNO], [CELULAR_ALUNO], [SEXO], [OBSERVACAO]) VALUES (3, N'Betina', N'Rua João Sebastião, 152', N'Santo Inácio', N'Curitiba', N'82045-697', N'333,333,333-33', N'(19) 4676-5468', N'(19) 8564-7231', N'F', N'É asmática')
SET IDENTITY_INSERT [dbo].[Aluno] OFF
SET IDENTITY_INSERT [dbo].[Caixa] ON 

INSERT [dbo].[Caixa] ([ID_CAIXA], [DATA], [HORA], [SALDO_INICIAL], [SITUACAO]) VALUES (1, CAST(N'2021-09-03 00:00:00.000' AS DateTime), CAST(N'2021-09-03 00:10:31.800' AS DateTime), CAST(96.00 AS Decimal(4, 2)), 0)
INSERT [dbo].[Caixa] ([ID_CAIXA], [DATA], [HORA], [SALDO_INICIAL], [SITUACAO]) VALUES (2, CAST(N'2021-09-04 00:00:00.000' AS DateTime), CAST(N'2021-09-04 23:26:30.330' AS DateTime), CAST(0.00 AS Decimal(4, 2)), 0)
INSERT [dbo].[Caixa] ([ID_CAIXA], [DATA], [HORA], [SALDO_INICIAL], [SITUACAO]) VALUES (3, CAST(N'2021-09-04 00:00:00.000' AS DateTime), CAST(N'2021-09-04 23:33:57.620' AS DateTime), CAST(0.00 AS Decimal(4, 2)), 1)
SET IDENTITY_INSERT [dbo].[Caixa] OFF
SET IDENTITY_INSERT [dbo].[Detalhes_Caixa] ON 

INSERT [dbo].[Detalhes_Caixa] ([ID_DETALHES], [ID_CAIXA], [VALOR], [MOVIMENTO], [TIPO_PAGAMENTO]) VALUES (2, NULL, CAST(165.00 AS Decimal(6, 2)), N'SUPRIMENTO', N'DINHEIRO')
INSERT [dbo].[Detalhes_Caixa] ([ID_DETALHES], [ID_CAIXA], [VALOR], [MOVIMENTO], [TIPO_PAGAMENTO]) VALUES (3, NULL, CAST(251.00 AS Decimal(6, 2)), N'RETIRADA', N'DINHEIRO')
SET IDENTITY_INSERT [dbo].[Detalhes_Caixa] OFF
SET IDENTITY_INSERT [dbo].[Horario] ON 

INSERT [dbo].[Horario] ([ID_HORARIO], [ID_TURMA], [DIA_SEMANA], [INICIO], [FIM]) VALUES (1, 2, N'Segunda-feira', CAST(N'03:50:00' AS Time), CAST(N'05:15:00' AS Time))
INSERT [dbo].[Horario] ([ID_HORARIO], [ID_TURMA], [DIA_SEMANA], [INICIO], [FIM]) VALUES (2, 2, N'Domingo', CAST(N'08:00:00' AS Time), CAST(N'10:15:00' AS Time))
INSERT [dbo].[Horario] ([ID_HORARIO], [ID_TURMA], [DIA_SEMANA], [INICIO], [FIM]) VALUES (3, 2, N'Terça-feira', CAST(N'17:30:00' AS Time), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Horario] OFF
SET IDENTITY_INSERT [dbo].[Matricula] ON 

INSERT [dbo].[Matricula] ([ID_MATRICULA], [ID_ALUNO], [ID_TURMA], [VENCIMENTO], [SITUACAO]) VALUES (1, 1, 4, 30, 1)
INSERT [dbo].[Matricula] ([ID_MATRICULA], [ID_ALUNO], [ID_TURMA], [VENCIMENTO], [SITUACAO]) VALUES (2, 1, 4, 30, 1)
INSERT [dbo].[Matricula] ([ID_MATRICULA], [ID_ALUNO], [ID_TURMA], [VENCIMENTO], [SITUACAO]) VALUES (3, 1, 1, 30, 1)
SET IDENTITY_INSERT [dbo].[Matricula] OFF
SET IDENTITY_INSERT [dbo].[Modalidade] ON 

INSERT [dbo].[Modalidade] ([ID_MODALIDADE], [NOME_MODALIDADE], [MENSALIDADE], [ID_PROFESSOR]) VALUES (1, N'Musculação', CAST(120.00 AS Decimal(5, 2)), 3)
INSERT [dbo].[Modalidade] ([ID_MODALIDADE], [NOME_MODALIDADE], [MENSALIDADE], [ID_PROFESSOR]) VALUES (2, N'Pilates', CAST(150.00 AS Decimal(5, 2)), 5)
INSERT [dbo].[Modalidade] ([ID_MODALIDADE], [NOME_MODALIDADE], [MENSALIDADE], [ID_PROFESSOR]) VALUES (3, N'Musculação', CAST(120.00 AS Decimal(5, 2)), 2)
SET IDENTITY_INSERT [dbo].[Modalidade] OFF
SET IDENTITY_INSERT [dbo].[Professor] ON 

INSERT [dbo].[Professor] ([ID_PROFESSOR], [NOME_PROFESSOR], [ENDERECO_PROFESSOR], [BAIRRO_PROFESSOR], [CIDADE_PROFESSOR], [CEP_PROFESSOR], [CPF_PROFESSOR], [SALARIO], [TELEFONE_PROFESSOR], [OBSERVACAO]) VALUES (1, N'Joice Fassbender', N'Rua Jurubatuba, 889', N'Aparecida', N'Santos', N'12345-789', N'123,456,789-12', CAST(1500.00 AS Decimal(6, 2)), N'(23) 4589-6198', N'Não poderá vir aos sábados')
INSERT [dbo].[Professor] ([ID_PROFESSOR], [NOME_PROFESSOR], [ENDERECO_PROFESSOR], [BAIRRO_PROFESSOR], [CIDADE_PROFESSOR], [CEP_PROFESSOR], [CPF_PROFESSOR], [SALARIO], [TELEFONE_PROFESSOR], [OBSERVACAO]) VALUES (2, N'Antônio Vera Cruz', N'Av. Pio Corso, 001', N'Bosque', N'Santa Rita do Passo Quatro', N'13670-000', N'999,888,222-99', CAST(2500.00 AS Decimal(6, 2)), N'(19) 3582-1100', N'Não poderá vir aos sábados')
INSERT [dbo].[Professor] ([ID_PROFESSOR], [NOME_PROFESSOR], [ENDERECO_PROFESSOR], [BAIRRO_PROFESSOR], [CIDADE_PROFESSOR], [CEP_PROFESSOR], [CPF_PROFESSOR], [SALARIO], [TELEFONE_PROFESSOR], [OBSERVACAO]) VALUES (3, N'Rogério Santiago', N'Av. Padre Pio Corso, 1860', N'Santa Rita do Passo Quatro', N'São Paulo', N'35214-849', N'333,333,333-33', CAST(3500.00 AS Decimal(6, 2)), N'(19) 3584-7845', N'Teste salvar ')
SET IDENTITY_INSERT [dbo].[Professor] OFF
SET IDENTITY_INSERT [dbo].[Turma] ON 

INSERT [dbo].[Turma] ([ID_TURMA], [ID_MODALIDADE], [MAXIMO_ALUNOS], [NUMERO_TURMA]) VALUES (1, 3, 45, N'1')
INSERT [dbo].[Turma] ([ID_TURMA], [ID_MODALIDADE], [MAXIMO_ALUNOS], [NUMERO_TURMA]) VALUES (2, 2, 20, N'1')
INSERT [dbo].[Turma] ([ID_TURMA], [ID_MODALIDADE], [MAXIMO_ALUNOS], [NUMERO_TURMA]) VALUES (3, 6, 20, N'1')
SET IDENTITY_INSERT [dbo].[Turma] OFF
ALTER TABLE [dbo].[Detalhes_Caixa]  WITH CHECK ADD  CONSTRAINT [FK__Detalhes___ID_CA__6442E2C9] FOREIGN KEY([ID_CAIXA])
REFERENCES [dbo].[Caixa] ([ID_CAIXA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Detalhes_Caixa] CHECK CONSTRAINT [FK__Detalhes___ID_CA__6442E2C9]
GO
ALTER TABLE [dbo].[Horario]  WITH CHECK ADD  CONSTRAINT [FK__Horario__ID_TURM__20C1E124] FOREIGN KEY([ID_TURMA])
REFERENCES [dbo].[Turma] ([ID_TURMA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Horario] CHECK CONSTRAINT [FK__Horario__ID_TURM__20C1E124]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK__Matricula__ID_AL__1DE57479] FOREIGN KEY([ID_ALUNO])
REFERENCES [dbo].[Aluno] ([ID_ALUNO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK__Matricula__ID_AL__1DE57479]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK__Matricula__ID_TU__1ED998B2] FOREIGN KEY([ID_TURMA])
REFERENCES [dbo].[Turma] ([ID_TURMA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK__Matricula__ID_TU__1ED998B2]
GO
ALTER TABLE [dbo].[Mensalidade]  WITH CHECK ADD  CONSTRAINT [FK__Mensalida__ID_MA__1CF15040] FOREIGN KEY([ID_MATRICULA])
REFERENCES [dbo].[Matricula] ([ID_MATRICULA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Mensalidade] CHECK CONSTRAINT [FK__Mensalida__ID_MA__1CF15040]
GO
ALTER TABLE [dbo].[Modalidade]  WITH CHECK ADD  CONSTRAINT [FK__Modalidad__ID_PR__1BFD2C07] FOREIGN KEY([ID_PROFESSOR])
REFERENCES [dbo].[Professor] ([ID_PROFESSOR])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Modalidade] CHECK CONSTRAINT [FK__Modalidad__ID_PR__1BFD2C07]
GO
ALTER TABLE [dbo].[Turma]  WITH CHECK ADD  CONSTRAINT [FK__Turma__ID_MODALI__1FCDBCEB] FOREIGN KEY([ID_MODALIDADE])
REFERENCES [dbo].[Modalidade] ([ID_MODALIDADE])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Turma] CHECK CONSTRAINT [FK__Turma__ID_MODALI__1FCDBCEB]
GO
USE [master]
GO
