USE [master]
GO
/****** Object:  Database [Escola]    Script Date: 13/03/2022 05:13:50 ******/
CREATE DATABASE [Escola]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Escola', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Escola.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Escola_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Escola_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Escola].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Escola]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aluno](
	[ID_ALUNO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_ALUNO] [varchar](50) NOT NULL,
	[ENDERECO_ALUNO] [varchar](50) NOT NULL,
	[BAIRRO_ALUNO] [varchar](50) NOT NULL,
	[CIDADE_ALUNO] [varchar](50) NOT NULL,
	[CEP_ALUNO] [varchar](35) NOT NULL,
	[CPF_ALUNO] [varchar](35) NOT NULL,
	[TELEFONE_ALUNO] [varchar](35) NOT NULL,
	[CELULAR_ALUNO] [varchar](35) NOT NULL,
	[SEXO] [varchar](15) NOT NULL,
	[OBSERVACAO] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[ID_ALUNO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[TELEFONE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[CURSO] [nvarchar](50) NOT NULL,
	[NASCIMENTO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Horario]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[ID_HORARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TURMA] [int] NULL,
	[DIA_SEMANA] [datetime] NOT NULL,
	[INICIO] [datetime] NOT NULL,
	[FIM] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Matricula](
	[ID_MATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUNO] [int] NULL,
	[ID_TURMA] [int] NULL,
	[VENCIMENTO] [datetime] NOT NULL,
	[SITUACAO] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mensalidade]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensalidade](
	[ID_MENSALIDADE] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATRICULA] [int] NULL,
	[DATA_VENCIMENTO] [datetime] NOT NULL,
	[SITUACAO] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENSALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Modalidade]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modalidade](
	[ID_MODALIDADE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_MODALIDADE] [varchar](50) NOT NULL,
	[MENSALIDADE] [decimal](19, 4) NOT NULL,
	[ID_PROFESSOR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MODALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Professor](
	[ID_PROFESSOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PROFESSOR] [varchar](50) NOT NULL,
	[ENDERECO_PROFESSOR] [varchar](50) NOT NULL,
	[CIDADE_PROFESSOR] [varchar](50) NOT NULL,
	[CEP_PROFESSOR] [varchar](35) NOT NULL,
	[CPF_PROFESSOR] [varchar](35) NOT NULL,
	[SALARIO] [decimal](19, 4) NOT NULL,
	[TELEFONE_PROFESSOR] [varchar](35) NOT NULL,
	[OBSERVACAO] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROFESSOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Turma]    Script Date: 13/03/2022 05:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Turma](
	[ID_TURMA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MODALIDADE] [int] NULL,
	[MAXIMO_ALUNOS] [varchar](50) NOT NULL,
	[NUMERO_TURMA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alunos] ON 

INSERT [dbo].[Alunos] ([ID_ALUNO], [NOME], [TELEFONE], [EMAIL], [CURSO], [NASCIMENTO]) VALUES (1, N'Vander', N'(49) 1237-6543', N'aluno1@teste.com', N'C Sharp', CAST(N'2026-06-02 17:07:23.000' AS DateTime))
INSERT [dbo].[Alunos] ([ID_ALUNO], [NOME], [TELEFONE], [EMAIL], [CURSO], [NASCIMENTO]) VALUES (2, N'Jun', N'(99) 4321-8765', N'aluno2@teste.com', N'C Sharp', CAST(N'2026-12-06 17:07:23.000' AS DateTime))
INSERT [dbo].[Alunos] ([ID_ALUNO], [NOME], [TELEFONE], [EMAIL], [CURSO], [NASCIMENTO]) VALUES (3, N'Patricia Bernkastel', N'(47) 98858-8113', N'aluno3@teste.com', N'Adm', CAST(N'1997-11-07 17:07:23.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Alunos] OFF
ALTER TABLE [dbo].[Horario]  WITH CHECK ADD FOREIGN KEY([ID_TURMA])
REFERENCES [dbo].[Turma] ([ID_TURMA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD FOREIGN KEY([ID_ALUNO])
REFERENCES [dbo].[Aluno] ([ID_ALUNO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD FOREIGN KEY([ID_TURMA])
REFERENCES [dbo].[Turma] ([ID_TURMA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Mensalidade]  WITH CHECK ADD FOREIGN KEY([ID_MATRICULA])
REFERENCES [dbo].[Matricula] ([ID_MATRICULA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Modalidade]  WITH CHECK ADD FOREIGN KEY([ID_PROFESSOR])
REFERENCES [dbo].[Professor] ([ID_PROFESSOR])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Turma]  WITH CHECK ADD FOREIGN KEY([ID_MODALIDADE])
REFERENCES [dbo].[Modalidade] ([ID_MODALIDADE])
ON DELETE SET NULL
GO
USE [master]
GO
