USE [master]
GO
/****** Object:  Database [ControleConsultorio]    Script Date: 13/03/2022 01:45:49 ******/
CREATE DATABASE [ControleConsultorio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControleConsultorio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ControleConsultorio.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ControleConsultorio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ControleConsultorio_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControleConsultorio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControleConsultorio]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 13/03/2022 01:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Consulta](
	[ID_CONSULTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MEDICO] [int] NULL,
	[ID_PACIENTE] [int] NULL,
	[DATA] [datetime] NOT NULL,
	[HORARIO] [datetime] NOT NULL,
	[RETORNO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONSULTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 13/03/2022 01:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medico](
	[ID_MEDICO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_MEDICO] [varchar](50) NOT NULL,
	[TELEFONE_MEDICO] [varchar](20) NOT NULL,
	[VALOR_CONSULTA] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK__Medico__1DBF7DADA8162FA9] PRIMARY KEY CLUSTERED 
(
	[ID_MEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 13/03/2022 01:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente](
	[ID_PACIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PACIENTE] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](50) NOT NULL,
	[NUMERO] [varchar](20) NOT NULL,
	[BAIRRO] [varchar](30) NOT NULL,
	[CIDADE] [varchar](30) NOT NULL,
	[CEP] [varchar](30) NOT NULL,
	[SEXO] [varchar](20) NOT NULL,
	[TELEFONE] [varchar](20) NOT NULL,
	[CELULAR] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Paciente__62CD58D73D5E31C5] PRIMARY KEY CLUSTERED 
(
	[ID_PACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Consulta] ON 

INSERT [dbo].[Consulta] ([ID_CONSULTA], [ID_MEDICO], [ID_PACIENTE], [DATA], [HORARIO], [RETORNO]) VALUES (1, 1, 1, CAST(N'2023-10-29 21:49:00.000' AS DateTime), CAST(N'2021-07-25 11:00:00.000' AS DateTime), N'Checked')
INSERT [dbo].[Consulta] ([ID_CONSULTA], [ID_MEDICO], [ID_PACIENTE], [DATA], [HORARIO], [RETORNO]) VALUES (2, 2, 2, CAST(N'2023-02-10 21:49:00.000' AS DateTime), CAST(N'2021-07-25 06:00:00.000' AS DateTime), N'Checked')
INSERT [dbo].[Consulta] ([ID_CONSULTA], [ID_MEDICO], [ID_PACIENTE], [DATA], [HORARIO], [RETORNO]) VALUES (3, 3, 3, CAST(N'2023-12-28 21:49:00.000' AS DateTime), CAST(N'2021-07-25 04:15:00.000' AS DateTime), N'Unchecked')
SET IDENTITY_INSERT [dbo].[Consulta] OFF
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([ID_MEDICO], [NOME_MEDICO], [TELEFONE_MEDICO], [VALOR_CONSULTA]) VALUES (1, N'Durval Costa', N'(55) 8765-4321', CAST(30000.00 AS Decimal(9, 2)))
INSERT [dbo].[Medico] ([ID_MEDICO], [NOME_MEDICO], [TELEFONE_MEDICO], [VALOR_CONSULTA]) VALUES (2, N'Vander Bernkastel', N'(99) 8728-3426', CAST(25000.00 AS Decimal(9, 2)))
INSERT [dbo].[Medico] ([ID_MEDICO], [NOME_MEDICO], [TELEFONE_MEDICO], [VALOR_CONSULTA]) VALUES (3, N'Custodium', N'(99) 8715-0445', CAST(28000.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[Medico] OFF
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([ID_PACIENTE], [NOME_PACIENTE], [ENDERECO], [NUMERO], [BAIRRO], [CIDADE], [CEP], [SEXO], [TELEFONE], [CELULAR]) VALUES (1, N'Jeremias Guerreiro', N'Vila Edna', N'26', N'Vitória Park', N'Guarujá', N'95800-000', N'M', N'(33) 5491-6451', N'(54) 5555-9999')
INSERT [dbo].[Paciente] ([ID_PACIENTE], [NOME_PACIENTE], [ENDERECO], [NUMERO], [BAIRRO], [CIDADE], [CEP], [SEXO], [TELEFONE], [CELULAR]) VALUES (2, N'Ludovico Pontes', N'Rua das Margaridas', N'430', N'Jardim', N'Formiga', N'97000-000', N'M', N'(43) 0990-9009', N'(43) 8778-7788')
INSERT [dbo].[Paciente] ([ID_PACIENTE], [NOME_PACIENTE], [ENDERECO], [NUMERO], [BAIRRO], [CIDADE], [CEP], [SEXO], [TELEFONE], [CELULAR]) VALUES (3, N'Deorde Satori', N'Testepontocom', N'111', N'Teste', N'São Paulo', N'45454-544', N'M', N'(45) 4545-4545', N'(58) 9566-2636')
SET IDENTITY_INSERT [dbo].[Paciente] OFF
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK__Consulta__ID_MED__25869641] FOREIGN KEY([ID_MEDICO])
REFERENCES [dbo].[Medico] ([ID_MEDICO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK__Consulta__ID_MED__25869641]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK__Consulta__ID_PAC__267ABA7A] FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[Paciente] ([ID_PACIENTE])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK__Consulta__ID_PAC__267ABA7A]
GO
USE [master]
GO
